body { font-family: 'Barlow', sans-serif; }
@keyframes testing1{
    from {background-color: white;}
    to {background-color: rgb(139, 224, 139);}
}

h3 {
    width: 100%;
    height: 100%;
    background-color: white;
    animation-name: testing1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: reverse;

    
}

@keyframes testing2{
    from {background-color: white;}
    to {background-color: rgb(223, 220, 68);}
}

h2 {
    width: 100%;
    height: 100%;
    background-color: white;
    animation-name: testing2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-delay: 1s;

    
}

@keyframes testing3{
    from {background-color: white;}
    to {background-color: rgb(194, 47, 47);}
}

h1 {
    width: 100%;
    height: 100%;
    background-color: white;
    animation-name: testing3;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-delay: 2s;

    
}


